.welcome h1{
    margin: 1% auto;
    width: 50%;
    text-align: center;
}

@media only screen and (max-width: 768px){
    .welcome h1{
        margin: 1% auto;
        width: 60%;
        text-align: center;
    }
}

.table{
    width: 60% !important; 
    margin: 2% auto !important;
}
.margin{
        margin-left: 9%;
}

h2{
    text-align: center;
    color: red;
}

.green{
    margin-left: 31%;
    color: green;  
    font-size: 176%; 
}
.red{
    margin-left: 31%;
    color: red;
    font-size: 176%;
}
.margin-add{
    margin-left: 20%
}